
 <tr class="tablex">
    <td><div class="cell"style="background-color:{{color1}};">{{color1}}</div></td>
    <td><div class="cell"style="background-color:{{color2}};">{{color2}}</div></td>
    <td><div class="cell"style="background-color:{{color3}};">{{color3}}</div></td>
    <td><div class="cell"style="font-family:{{font1}};">{{font1}}</div></td>
    <td><div class="cell"style="font-family:{{font2}};">{{font2}}</div></td>
    <td><div class="cell"style="font-family:{{font3}};">{{font3}}</div></td>
    <td><button class="delete-button" data-value="{{id}}">DELETE</a></button</td>
</tr> 


