
 <tr class="tablex">
    {{!-- <td>{{id}}</td> --}}
    <td>{{color1}}</td>
    <td>{{color2}}</td>
    <td>{{color3}}</td>
    <td>{{font3}}</td>
    <td>{{font2}}</td>
    <td>{{font3}}</td>
    <td><button class="delete-row" data-value="{{id}}" id="huh">DELETE</a></button</td>
    <td><button>IMPORT</button></td>
</tr> 


